.footer {
  text-align: center;
  padding: 60px;
  background-color: #A7727D;
  margin-top: 40px;
}

.footer p {
  color:white;
}

.footer a {
  font-size: 30px;
  color:white;
  margin: 0 20px;
  transition: font-size 0.5s;
}

.footer a:hover {
  color:#F8EAD8;
  font-size: 40px;
}
